<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Frameworks">
  <test name="dataDrivenReport">
    <classes>
      <class name="DriverFactory.DataDrivenFramework"/>
      </classes>
  </test> <!-- Test -->
   <test name="HybridReport">
    <classes>
       <class name="DriverFactory.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Frameworks -->
